* {
  margin: 0;
  padding: 0;
}

body {
  background: url('img/piatnitsa-13-e-friday-the-13th-poster-uzhasy-art-maska-ten-d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(8, 8, 8);
  background-position: 0px 66px;

}

nav {
  font: 1em sans-serif;
  text-align: right;
  justify-content: center;
  align-items: center;
  padding: 17px;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  
}

.h01 {
  color: wheat;
  text-align: left;
  display: inline;
  margin-right: 600px;
  align-items: center;
}

a {
  color: white;
  text-decoration: none; 
  margin: 20px;
  padding: 10px 30px;
  border-radius: 50px;
  background: rgb(21, 1, 14);
  background: linear-gradient(90deg, rgba(21, 1, 14, 1) 0%, rgba(194, 54, 32, 1) 100%);
  font-size: 0.9em;
  font-weight: 600;
}

.imgj01 {
  width: 400px;
}

.j02 {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  opacity: 0.3;

}

table {
  width: 100%;
 
}

img {
  border-radius: 1000px; 

}

td {
  margin: 1000px;
  padding: 10px;
  line-height: 23px;
  color: rgb(255, 255, 255);

}
.p01{
  margin-left: 10px;
}

.img2 {
  width: 200px;
  margin-left: 100px;
}
#director{
background-color: black;
opacity: 0.5;
margin-top: 30px;

}
#directorimg{
  border-radius: 50%;
  width: 250px;
  margin-left: 20px;
  opacity: 0.9;
  z-index: 1000;
  border: 10px solid rgb(62, 18, 18);
}

